################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Hackathon_2017.sln
*.suo
/HackathonVinci2/packages
/HackathonVinci2/HackathonVinci2/bin
/HackathonVinci2/HackathonVinci2/obj
/HackathonVinci2/packages
/HackathonVinci2/HackathonVinci2/Properties/PublishProfiles
HackathonVinci2/.vs/config/applicationhost.config
HackathonVinci2/.vs/HackathonVinci2/v15/.suo
